@model IEnumerable<SMS.BusinessEntity.StudentViewModel>

@{ ViewBag.Title = "Index"; Layout = "~/Views/Shared/_Layout.cshtml"; }


<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolYear)
        </th>
    </tr>



    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.StudentId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfBirth)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SSN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.District)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ServiceName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SchoolYear)
    </td>
</tr>
}
</table>

